# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
uv.lock
*.egg-info/
videos/
.amltconfig
*.ipynb
ManiSkill2_real2sim
video.mp4
.env
# ipython/jupyter notebooks
# *.ipynb
**/.ipynb_checkpoints/
dev/
# Editor temporaries
*.swn
*.swo
*.swp
*~

# MacOS
*.DS_Store

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

imgui.ini
